<footer id="footer">
    <div class="container">
      <h3>Kamini Chhabra</h3>
      <p>Highly motivated and proactive Web Developer with a remarkable record of delivering outstanding results. Collaborates effectively with cross-functional teams to identify customer requirements and devise efficient solutions. Demonstrates expertise in creating user-centric websites that exceed industry standards for web design and user experience by employing systematic coding and industry best practices. Continuously endeavors to expand knowledge and skills to stay current with emerging technologies and trends.</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Kamini</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">Kamini Chhabra</a>
      </div>
    </div>
  </footer><!-- End Footer -->